@media (max-width: 1200px){
    main{
        width: 100%;

        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main-content{
        width: 100%;
        align-items: center;

        margin-bottom: 15%;

    }
    main .main-content .text, .techs, .projetos{
        text-align: center;
    } 

    main .main-content .text p{
        width: 100%;
        font-size: 0.9em;
    }
    main .main-content .text, .techs, .cards-container, .projetos{
        margin-top: 32px;
    }
}

@media (max-width: 700px){
    header{
        flex-direction: column;
        align-items:center ;
        justify-content: center;
        text-align: center;
    } 
    header h1{
        font-size: 2em;
    }
    header nav{
        margin-top: 20px;
        margin-left: 25px;
    }
    header nav a{
        font-size: 1em;

    }
    main .techs .cards-container .card{
        width: 60px;
        height: 60px;
    }
   
      main .main-content h2{
        font-size: 1.8em;
      }
      main .projects-container{
        flex-direction: column;
        align-items:center ;
        justify-content: center;
        text-align: center;
        margin-left: 5%;
            
    }
    main .projetos .projects-container img{
        margin-bottom: 10px;
    }




    main .btn{
        flex-direction: column;
        align-items: center;
        font-size: 12px;
        font-weight: 800;
      }
@media (max-width: 425px) {
    main .projetos .projects-container img{
        margin-bottom: 10px;
        width:400px;
        height: 300px;
    }
    
    
    main .btn{
        flex-direction: column;
        align-items: center;
        font-size: 8px;
        font-weight: 900;
      }
}
        
      
}